* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1D556D;
    font-family: sans-serif;
}

.add-board {
    background-color: #FFFFFF;
 
    transition: box-shadow 0.3s ease;
    border-radius: 1rem;
    margin: 2rem;
    height: 8rem;
    width: 15vw;
    padding: 1rem;
    cursor: pointer;
}

.list {
    display: flex;
}

.list-items {

    display: flex;
}

.list-item {

    display: flex;
    justify-content: space-between;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: #101204;
    color: #B4C0CD;
}

#add-cardItem{
    display: flex;
    padding: .5rem;
    align-items: center;
    cursor: pointer;
}
#list-addItem{
    height: fit-content;
    justify-content: flex-start;
    align-items: center;
    background-color: #101204;
    color: #B4C0CD;
    border-radius: 1rem;
    cursor: pointer;
    width: 20vw;

}

.listadder {
    margin: 1rem;
    width: 20vw;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #101204;

}

.innerlist {
    background-color: #101204;
    color: #B4C0CD;
    margin: 0 1rem 1rem 1rem;
    width: 20vw;
    padding: 0.5rem;
    border-radius: 0 0 1rem 1rem;
    list-style-type: none;
}

.carditem {
    border-radius: .6rem;
    padding: .4rem;
    margin-bottom: 1rem;
    background-color: #22272B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.addbutton {
    align-items: center;
    display: flex;
    margin-top: .7rem;

}

.closeIcon {
    margin-left: .5rem;
    background-color: #101204;
    color: #B4C0CD;
}

.closeIcon:hover {
    background-color: #171B0F;
    cursor: pointer;
}

.carditem:hover {
    box-shadow: 0 0 0 1px #85B8FF;
}


/* .checklist */

.checklistDialog {
    width: -webkit-fill-available;
}

.checklist {
    display: flex;
    justify-content: center;
    align-items: center;

}

.checklist-container {
    background-color: #323940;
    color: #B6C2CF;

}

#items {
    display: flex;
}

.spacerleft {

    margin-left: 0.5rem;
}

.checklist-header {
    display: flex;
    justify-content: space-between;
}

.check-items {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.check-item-addition {
    width: 40%;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 2rem 2rem;

}

.divider {
    display: flex;
    justify-content: space-between;
}

.Checklistdata,
.checklist-header {
    padding: 1rem;
    display: flex;

}

.Checklistdata {
    flex-direction: column;
}

.checklist-body {
    width: 60%;
    display: flex;
    flex-direction: column;
}


/* ---------------------------- */
.checklist-item {
    border-radius: .6rem;
    padding: .2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

}

.checklist-tems-group {
    display: flex;
    justify-content: space-between;


}
.checklist-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checklist-text {
    width: fit-content;
    justify-content: space-between;
}

input[type="checkbox"] {
    height: 1rem;
    width: 1rem;
    margin-left: .2rem;
    margin-right: .4rem;
}

/* ---------------- */

.checkList-add{
    position: absolute;
    top: 40;  
    right: 0;
    z-index: 0;
    height: 30;
    margin: 1rem;
    width: 20vw;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #101204;
}

